/.metadata/
/avaliacao/avaliacao/target/
/heranca/heranca/target/
/Arrays/Arrays/target/
/ExemploArrayList/ExemploArraylist/target/
/ExemploHashmap/ExemploHashmap/target/
/ProjetoMercado/TemdeTudo/nbproject/private/
/ProjetoMercado/TemdeTudo/build/
